In [ ]:
import sqlite3

In [ ]:
import pandas as pd

In [ ]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS EmployeeDemo
(EmployeeID int,
 FirstName varchar(50),
 LastName varchar(50),
 Age int,
 Gender varchar(50)
 )
""")

In [ ]:
df = pd.read_sql_query("SELECT * FROM EmployeeDemo LIMIT 0", conn)
df

Empty DataFrame
Columns: [EmployeeID, FirstName, LastName, Age, Gender]
Index: []

In [ ]:
cursor.execute("""
INSERT INTO EmployeeDemo VALUES
(1001, 'Jim', 'Halpert', 30, 'Male'),
(1002, 'Pam', 'Beasley', 30, 'Female'),
(1003, 'Dwight', 'Schrute', 29, 'Male'),
(1004, 'Angela', 'Martin', 31, 'Female'),
(1005, 'Toby', 'Flenderson', 32, 'Male')
""")

In [ ]:
df = pd.read_sql_query("SELECT * FROM EmployeeDemo", conn)
df

   EmployeeID FirstName    LastName  Age  Gender
0        1001       Jim     Halpert   30    Male
1        1002       Pam     Beasley   30  Female
2        1003    Dwight     Schrute   29    Male
3        1004    Angela      Martin   31  Female
4        1005      Toby  Flenderson   32    Male

In [ ]:
df_first_names = pd.read_sql_query("SELECT FirstName FROM EmployeeDemo", conn)
display(df_first_names)

  FirstName
0       Jim
1       Pam
2    Dwight
3    Angela
4      Toby

In [ ]:
df_names = pd.read_sql_query("SELECT FirstName, LastName FROM EmployeeDemo", conn)
display(df_names)

  FirstName    LastName
0       Jim     Halpert
1       Pam     Beasley
2    Dwight     Schrute
3    Angela      Martin
4      Toby  Flenderson

In [ ]:
df_top_3 = pd.read_sql_query("SELECT * FROM EmployeeDemo LIMIT 3", conn)
display(df_top_3)

Empty DataFrame
Columns: [EmployeeID, FirstName, LastName, Age, Gender]
Index: []

In [ ]:
df_distinct_ids = pd.read_sql_query("SELECT DISTINCT(EmployeeID) FROM EmployeeDemo", conn)
display(df_distinct_ids)

   EmployeeID
0        1001
1        1002
2        1003
3        1004
4        1005

In [ ]:
df_employee_ids = pd.read_sql_query("SELECT EmployeeID FROM EmployeeDemo", conn)
print(df_employee_ids)

   EmployeeID
0        1001
1        1002
2        1003
3        1004
4        1005

In [ ]:
df_gender = pd.read_sql_query("SELECT Gender FROM EmployeeDemo", conn)
print(df_gender)

   Gender
0    Male
1  Female
2    Male
3  Female
4    Male

In [ ]:
df_count = pd.read_sql_query("SELECT COUNT(LastName) FROM EmployeeDemo", conn)
print(df_count)

   COUNT(LastName)
0                0

In [ ]:
df_max = pd.read_sql_query("SELECT MAX(Age) FROM EmployeeDemo", conn)
print(df_max)

   MAX(Age)
0        32

In [ ]:
df_min = pd.read_sql_query("SELECT MIN(Age) FROM EmployeeDemo", conn)
print(df_min)

   MIN(Age)
0        29

In [ ]:
df_avg = pd.read_sql_query("SELECT AVG(Age) FROM EmployeeDemo", conn)
print(df_avg)

   AVG(Age)
0      30.4

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE FirstName = 'Jim'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age Gender
0        1001       Jim  Halpert   30   Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE FirstName <> 'Jim'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName    LastName  Age  Gender
0        1002       Pam     Beasley   30  Female
1        1003    Dwight     Schrute   29    Male
2        1004    Angela      Martin   31  Female
3        1005      Toby  Flenderson   32    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE Age = '29'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age Gender
0        1003    Dwight  Schrute   29   Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE Age < 31", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age  Gender
0        1001       Jim  Halpert   30    Male
1        1002       Pam  Beasley   30  Female
2        1003    Dwight  Schrute   29    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE Age <= 31", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age  Gender
0        1001       Jim  Halpert   30    Male
1        1002       Pam  Beasley   30  Female
2        1003    Dwight  Schrute   29    Male
3        1004    Angela   Martin   31  Female

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE Age <= 31 AND Gender='Male'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age Gender
0        1001       Jim  Halpert   30   Male
1        1003    Dwight  Schrute   29   Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE Age <= 31 OR Gender='Female'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age  Gender
0        1001       Jim  Halpert   30    Male
1        1002       Pam  Beasley   30  Female
2        1003    Dwight  Schrute   29    Male
3        1004    Angela   Martin   31  Female

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE LastName LIKE 'S%'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age Gender
0        1003    Dwight  Schrute   29   Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE LastName LIKE '%S%'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName    LastName  Age  Gender
0        1002       Pam     Beasley   30  Female
1        1003    Dwight     Schrute   29    Male
2        1005      Toby  Flenderson   32    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE LastName LIKE '%e%s%'", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName    LastName  Age  Gender
0        1002       Pam     Beasley   30  Female
1        1005      Toby  Flenderson   32    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE FirstName is NOT NULL", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName    LastName  Age  Gender
0        1001       Jim     Halpert   30    Male
1        1002       Pam     Beasley   30  Female
2        1003    Dwight     Schrute   29    Male
3        1004    Angela      Martin   31  Female
4        1005      Toby  Flenderson   32    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT EmployeeID, FirstName, LastName, Age, Gender FROM EmployeeDemo WHERE FirstName IN ('Jim','Pam')", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName LastName  Age  Gender
0        1001       Jim  Halpert   30    Male
1        1002       Pam  Beasley   30  Female

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT Gender FROM EmployeeDemo GROUP BY Gender", conn)
print(df_filtered_employee_info)

   Gender
0  Female
1    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT Gender, Age, COUNT(Gender) FROM EmployeeDemo GROUP BY Gender, Age", conn)
print(df_filtered_employee_info)

   Gender  Age  COUNT(Gender)
0  Female   30              1
1  Female   31              1
2    Male   29              1
3    Male   30              1
4    Male   32              1

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT Gender, COUNT(Gender) FROM EmployeeDemo WHERE Age=30 GROUP BY Gender", conn)
print(df_filtered_employee_info)

   Gender  COUNT(Gender)
0  Female              1
1    Male              1

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT Gender, COUNT(Gender) as CountGender FROM EmployeeDemo WHERE Age=29 GROUP BY Gender ORDER BY CountGender", conn)
print(df_filtered_employee_info)

  Gender  CountGender
0   Male            1

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT * FROM EmployeeDemo ORDER BY Age DESC", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName    LastName  Age  Gender
0        1005      Toby  Flenderson   32    Male
1        1004    Angela      Martin   31  Female
2        1001       Jim     Halpert   30    Male
3        1002       Pam     Beasley   30  Female
4        1003    Dwight     Schrute   29    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT * FROM EmployeeDemo ORDER BY Age, Gender", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName    LastName  Age  Gender
0        1003    Dwight     Schrute   29    Male
1        1002       Pam     Beasley   30  Female
2        1001       Jim     Halpert   30    Male
3        1004    Angela      Martin   31  Female
4        1005      Toby  Flenderson   32    Male

In [ ]:
df_filtered_employee_info = pd.read_sql_query("SELECT * FROM EmployeeDemo ORDER BY Age ASC, Gender DESC", conn)
print(df_filtered_employee_info)

   EmployeeID FirstName    LastName  Age  Gender
0        1003    Dwight     Schrute   29    Male
1        1001       Jim     Halpert   30    Male
2        1002       Pam     Beasley   30  Female
3        1004    Angela      Martin   31  Female
4        1005      Toby  Flenderson   32    Male